body{
    display:flex;
    justify-content: center;
    margin:0;
  background:
    radial-gradient(circle at center, rgba(255,255,255,0.05), transparent 60%),
    #1f3a40;
    #42445A
  }
  .container{
    width:50vw;
    height:45vh;
    color: white ;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
    position:relative;
    display:flex;
    justify-items: center;
    align-items: center;
    font-size:26px;
    font-weight:600;
  box-shadow:
  0 20px 40px rgba(0,0,0,0.35),
  0 0 30px rgba(255,75,43,0.6);
border-radius: 22px;
animation:up 7s linear forwards;
}
  .text{
    margin:30%;
  opacity: 0;
  text-shadow:
    0 2px 8px rgba(0,0,0,0.4),
    0 0 12px rgba(255,255,255,0.4);
text-transform: uppercase;
  letter-spacing:3px;
  animation: show 7s ease-in forwards;
  }
  
  .wrap{
    position: absolute;
    animation: float 7s linear forwards ;
  }
    .wrap2{
    position: absolute;
animation: hfloat 7s linear forwards;
  }
  .wrap3{
    position: absolute;
animation: hhfloat 7s linear forwards;
  }
  .heart{
    width:70px;
    height:70px;
  transform: rotate(-45deg);
  background:linear-gradient(135deg, #ff416c, #ff4b2b);
  animation: beat 1s ease-in-out infinite;
   
  filter: drop-shadow(0 0 12px rgba(255,90,120,0.7));
  opacity:0.9;
  }
 
  .heart::before,
  .heart::after{
    content:"";
    width:70px;
    height:70px;
    border-radius:50%;
    background: inherit;
    position: absolute;
  }
  
  .heart::before{
    top:-35px;
    left:0px;
  }
  .heart::after{
    left:35px;
    top:0px;
  }

         @keyframes beat{
     
     0%{
       transform:rotate(-45deg) scale(1);
     }
     50%{
       transform: rotate(-45deg) scale(1.1);
     }
     100%{
       transform:rotate(-45deg) scale(1);
     }
   }
       @keyframes show{
      70%{
        opacity:0.4;
      }
      85%{
        opacity:0.7;
      }
      100%{
        opacity:1;
      }
    }
   @keyframes up{
     0%{
     transform:translateY(110vh);
   } 
   100%{
     transform:translateY(55%);
  }
   }


  
    @keyframes float{
   0%{
     transform:translateY(110vh);
   } 
   100%{
     transform:translateY(-10vh);
  }
    }
    @keyframes hfloat{
      0%{
     transform:translateY(110vh);
      }
      100%{
     transform:translateX(65vw);
  }
    }
        @keyframes hhfloat{
      0%{
     transform:translateY(110vh);
      }
      100%{
     transform:translateX(-65vw);
  }
    }
    @media(max-width:710px)
    {
      p{
        font-size:12px;
      }
      .heart{
        width:30px;
        height:30px;
      }
      .heart::before,
      .heart::after{
        width:30px;
        height:30px;
      }
        .heart::before{
    top:-15px;
    left:0px;
  }
  .heart::after{
    left:15px;
    top:0px;
  }
      
    }
  